.flagImg {
  position: relative;
  width: 100%;
  height: 130px;
  /*clip-path: url(#clipshape);*/
  mask-image: url("/flag_mask.svg");
  mask-repeat: no-repeat;
  mask-position: auto;
  mask-size: contain;
}

.boxImg {
  position: relative;
  width: 100%;
  height: 150px;
  clip-path: polygon(20% 0, 80% 0, 100% 30%, 100% 100%, 0 100%, 0 30%);
}

@media (max-width: 767px) {
  .box {
    display: flex;
  }
  .box .flagImg {
    width: calc(var(--space-lg)*3);
    height: var(--space-lg);
    margin-right: 0.5em;
    flex: 1.2;
  }
  .box .boxImg {
    width: calc(var(--space-lg)*3);
    height: var(--space-lg);
    clip-path: polygon(20% 0, 80% 0, 100% 30%, 100% 100%, 0 100%, 0 30%);
    margin-right: 1em;
    flex: 2;
  }
  .box .title {
    flex: 3;
  }
}

.circleImg {
  position: relative;
  width: 100%;
  height: 150px;
  clip-path: circle(70px at 50% 50%);
  background-color: var(--green);
}

.circleImg img{
  clip-path: circle(67px at 50% 50%);
}

.title {
  text-align: left;
  font-size: calc(var(--body) * 0.8);
}

.titleCenter {
  text-align: center;
  font-size: calc(var(--body) * 0.8);
}