.basic {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 320px;
  margin: 0 auto;
  padding: var(--space-xs);
  background-color: var(--white);
  color: var(--black);
  border-radius: 7px;
  text-align: center;
}
@media (max-width: 767px){
  .card {
    margin: calc(var(--space-xs) * 0.5) auto;
  }
  .basic {
    margin-bottom: var(--space-sm);
  }
}
.altCard {
  composes: card;
  padding: 0;
}

.altCard img {
  border-bottom: solid 4px var(--green) !important;
}

.card .cardImg {
  position: relative;
  width: 100%;
  height: 180px;
}

.basic .cardImg {
  position: relative;
  width: 100%;
  height: 120px;
}

.altCardImg {
  composes: cardImg;
  clip-path: polygon(50% 0%, 100% 40%, 100% 100%, 0 100%, 0 40%);
}

.cardInner {
  padding-top: calc(var(--space-xs));
}
.basic .cardInner {
  padding-top: calc(var(--space-xs)*0.5);
}
.gray {
  background-color: var(--gray-10);
  padding-bottom: var(--space-xs);
}

.card .title {
  font-weight: 400;
  margin-bottom: calc(var(--space-xs) * 0.8);
}

.basic .title {
  font-size: calc(var(--heading3)*0.9);
  font-weight: 400;
  margin-bottom: calc(var(--space-xs) * 0.4);
}

.innerTitle {
  font-weight: 400;
  margin: calc(var(--space-xs) * 0.5) 0;
}

.description {
  font-size: calc(var(--body) * 0.8);
  margin-bottom: calc(var(--space-xs) * 0.8);
}

.innerDesctiption {
  font-size: calc(var(--body) * 0.8);
}
.basic .innerDesctiption {
  text-align: left;
}