.card {
  margin: calc(var(--space-xs) * 0.5);
  padding: var(--space-xs);
  background-color: var(--white);
  color: var(--black);
  border-radius: 7px;
}
.altCard {
  composes: card;
  width: 350px;
  margin: 0 auto;
  padding: 0;
}

.altCard img {
  border-bottom: solid 4px var(--green) !important;
}

.cardImg {
  position: relative;
  width: 100%;
  height: 180px;
}

.altCardImg {
  composes: cardImg;
  clip-path: polygon(50% 0%, 100% 40%, 100% 100%, 0 100%, 0 40%);
}

.cardInner {
  padding-top: calc(var(--space-xs));
  padding-bottom: var(--space-xs);
}
.gray {
  background-color: var(--gray-10);
}

.title {
  font-weight: 400;
  margin-bottom: calc(var(--space-xs) * 0.8);
}

.innerTitle {
  font-weight: 400;
  margin: calc(var(--space-xs) * 0.5) 0;
}

.description {
  font-size: calc(var(--body) * 0.8);
  margin-bottom: calc(var(--space-xs) * 0.8);
}

.innerDesctiption {
  font-size: calc(var(--body) * 0.8);
}