.wrapper {

}

.flexContainer {
  composes: sideBySideCenter from 'styles/utils.module.css';
  gap: 2em;
  padding: var(--space-sm) 0;
}

.spaceBetween {
  composes: spaceBetween from 'styles/utils.module.css';
  margin: var(--space-xs) 0;
}
.flexItem {
  width: 160px;
  text-align: left;

}
.flexItem ul {
  padding-top: calc(var(--space-xs)*0.5);
}
.flexItem li {
  padding-bottom: calc(var(--space-xs)*0.5);
}
.flexItem li::before {
  content: '-';
  margin-left: 0.1em;
  margin-right: 1.2em;
}
.spaceBetween {
  display: none;
}

.dashed {
  background-position: none;
}

@media (min-width: 768px) {
  .spaceBetween {
    display: flex;
    composes: spaceBetween from 'styles/utils.module.css';
    margin: var(--space-xs) 0;
  }
  .dashed {
    background-image : linear-gradient(to right, var(--gray-80), var(--gray-80) 4px, transparent 4px, transparent 10px);  /* 幅2の線を作る */
    background-size: 10px 2px;          /* グラデーションの幅・高さを指定 */
    background-repeat: repeat-x;       /* 横向きにのみ繰り返す */
    background-position: left top;
  }
}

.bottomDashed {
  background-image : linear-gradient(to right, var(--red), var(--red) 4px, transparent 4px, transparent 10px);  /* 幅2の線を作る */
  background-size: 10px 2px;          /* グラデーションの幅・高さを指定 */
  background-position: left bottom;  /* 背景の開始位置を指定 */
  background-repeat: repeat-x;       /* 横向きにのみ繰り返す */
  background-position: left bottom;
  padding: 0.5rem 0;
}

.fullWidth {
  composes: fullWidth from 'styles/utils.module.css';
}

.footerContainer {
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
}

.btn {
  display: inline-block;
  width: 200px;
  text-align: center;
  color: #fff;
  padding: calc(var(--space-xs) * 0.5) 0;
  text-decoration: none;
  background-color: var(--green);
}
