
@media (min-width: 768px) {
  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: var(--space-xs);
  }
  
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: var(--space-xs);
  }
  
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .grid2, .grid3, .grid4 {
    display: grid;
    margin: 0 auto;
    max-width: 320px;

  }
  .grid3, .grid4 {
    margin-bottom: var(--space-xs);
  }
}