.text {
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
}

.title {
  font-size: calc(var(--display) * 0.4);
  font-weight: 900;
}

.subtitle {
  font-size: var(--small-heading2);
}