.basic {
  font-size: var(--heading2);
  font-weight: 700;
}

.box {
  composes: basic;
  display: inline-block;
  padding: 1em 2em;
  background-color: var(--green);
  color: var(--white);
  font-size: var(--small-heading2);
}