.basic {
  padding: var(--space-md) 0;
}

.fullwidth {
  composes: basic;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background-color: var(--accent-yellow);
}

.yellow {
  background-color: var(--accent-yellow);
}

.green {
  background-color: var(--light-green);
}

.red {
  background-color: var(--red);
}
.gray {
  background-color: var(--gray-10);
}

.bgImg {
  position: relative;
  color: var(--white);
  background-image: url("/bgimg.JPG");
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  z-index: -20;

}
.bgImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: -10;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}