.basic {
  padding: var(--space-md) 0;
}

.fullwidth {
  composes: basic;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background-color: var(--accent-yellow);
}

.yellow {
  background-color: var(--accent-yellow);
}

.green {
  background-color: var(--light-green);
}

.red {
  background-color: var(--red);
}

.bgImg {
  color: var(--white);
  background-image: url("/bgimg.JPG");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}